:root {
    --bs-primary: #762638;
    --bs-primary-rgb: 118,38,56;
    --bs-body-font-size: 0.9rem;
    --bs-font-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.min-h-auto { min-height:auto; }
.form-control { background-color: #f1f4ff; }

.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.form-control:focus,
.form-check-input:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 2px rgba(var(--bs-primary-rgb),25%);
}

.logo { width: 190px; }

@media(min-width:576px){
    .border-sm-top { border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color); }
}
@media(min-width:756px){
    #page1-notes { width:240px }
}
@media(min-width:992px){
    .w-lg-75 { width:75% !important }
}
@media(min-width:1024px){
    #page1-notes { width:214px }
}
@media(min-width:1200px) and (max-width:1399px){
    .page1-header-input-project,
    .page1-header-input-work-order { width: 178px; }
}